@font-face {
    font-family: Roboto;
    src: url("font/roboto/Roboto-Regular.ttf");
}

body{
  font-family: Roboto;
}
/*main = sidebar + content */
#main{
	/*margin-top: 50px;	*/
}


/*change color for navbar */

/*.navbar-default {
  background-color: #0280bd;
  border-color: #0c6691;
}
.navbar-default .navbar-brand {
  color: #f5f8f9;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #f5f8f9;
}
.navbar-default .navbar-text {
  color: #f5f8f9;
}
.navbar-default .navbar-nav > li > a {
  color: #f5f8f9;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #f5f8f9;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #f5f8f9;
  background-color: #0c6691;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #f5f8f9;
  background-color: #0c6691;
}
.navbar-default .navbar-toggle {
  border-color: #0c6691;
  color: #f5f8f9;
}

.navbar-default .navbar-toggle .dropdown-toggle{
  color: #f5f8f9;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #0c6691;
  color: #f5f8f9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f5f8f9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f5f8f9;
}
.navbar-default .navbar-link {
  color: #f5f8f9;
}
.navbar-default .navbar-link:hover {
  color: #f5f8f9;
}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus{
    background-color: #0c6691;
}
.navbar-default .navbar-nav > li > a{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;    
}

@media (max-width: 992px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f5f8f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f5f8f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f5f8f9;
    background-color: #0c6691;
  }
}   */



/*sidebar */

.sidebar{
  background: #0280bd none repeat 0 0;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  transition: all 0.5s ease 0s;
  width: 300px;
  z-index: 1000;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: rgba(255, 255, 255, 0.2);
}
.content{
  transition: all 0.5s ease 0s;
  margin-left: 300px;
  padding-left: 40px;
  padding-right: 40px;
}

.toggled .sidebar{
  width: 0;
  margin: -300px;
}

.toggled .content{
  margin-left: 0px;
}


.user-menu{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #F5F5F0; 
}
.user-menu ul{
  padding: 0;
}
.user-menu li {
  list-style: none;
  line-height: 40px;
  text-indent: 20px;
  text-align: center;
}
.user-menu li a {
  text-decoration: none;
  display: block;
  color: #ffffff;
}
.user-menu li:hover{
  background-color: #0c6691;
}


.user-avatar{
    text-align: center;
    transition: all ease 250ms;
    width: 300px;
    margin: 10px 100px;
    position: relative;
    
}
.user-avatar img{
  border: 7px solid rgba(255, 255, 255, 0.2);
  border-radius: 300px;
  width: 110px;
  vertical-align: middle;
  margin: 10px auto;
}

.wrapper{
  padding: 0;
}

.wrapper li{
  list-style: none;
  line-height: 40px;
  text-indent: 20px;
}
.wrapper li a {
  text-decoration: none;
  display: block;
  color: #ffffff;
}
.wrapper li :hover{
  background-color: #0c6691;
}

.wrapper .active{
  background-color: #0c6691;
}
.wrapper li a :hover{

  color: #f5f8f9;
  color: #fff;
}

/*table in content */
.table{
  margin-left: 20px;
}
