@font-face {
    font-family: Roboto;
    /*src: url("font-1/roboto/Roboto-Italic.ttf") format('truetype');*/
    src: url("font/roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: Roboto-Light;
    /*src: url("font-1/roboto/Roboto-Italic.ttf") format('truetype');*/
    src: url("font/roboto/Roboto-Light.ttf") format('truetype');
}

body {
    background-color: #f0f0f0;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 400
}

#wrapper{
    width: 100%
}

.header{
  background-color: #fff;
}

.header .header-main{
    padding: 0;
}

.header h1.header-logo{
    width: 60%;
    margin: 20px 0;
}

.header .header-info{
    width: 40%;
    margin-top: 10px;
}

.header .hello-user {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    float: right;
}

.header .hello-user li {
    list-style: none;
    float: left;
    color: #0280bd;
    font-size: 12px;
    padding: 0px 7px;
}

.header .hello-user li.divider {
    border-right: 1px solid #c3c3c3;
}

.header .hello-user li a {
    display: inline-block;
    color: #777777;
}

/*Form control*/
input[type=text], input[type=password], textarea{
  width: 100%;
    padding: 5px;
    border: 1px solid #dedede;
    border-radius: 0;
}
input[type=text]:hover, input[type=password]:hover, textarea:hover,
select:hover {
    outline: none;
    border-color: #aaa
}
input[type=text]:focus, input[type=password]:focus, textarea:focus,
select:focus {
    outline: none;
    border-color: #2fa1f9
}
input[type=text], input[type=password]{
    line-height: normal;
    height: 28px;
}

.input-group-addon{
  padding: 5px 12px;
  border-radius: 0;
  border-color: #dedede;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: #fff !important;
    background-image: url("../img/arrow-down.png") !important;
    background-origin: padding-box !important;
    background-position: calc(100% - 7px) center !important;
    background-repeat: no-repeat !important;
    background-size: auto auto !important;
    border: 1px solid #dedede;
    min-height: 28px;
    padding: 1px 20px 1px 0px !important;
    width: auto;
}
/*End form control*/

/*Button*/
.btn{
    display: inline-block;
    padding: 6px 12px;
    font-size: 12px;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #fff !important;
    background-color: #2fa1f9;
    white-space: nowrap;
    text-align: center;
    font-weight: normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-decoration: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.btn:hover{
    color: #fff;
    background: #2991e2;
}

.btn:active{
    color: #fff;
}

.btn-search:hover{
    /*border-left-color: #ccc;*/
}

.input-group-btn{
    width: 0
}
/*/Button*/

/*Nav*/
.navbar{
  border-radius: 0;
  min-height: auto;
  margin-bottom: 10px;
}

.navbar-default {
    background: #0280bd;
    border-width: 0;
}

.navbar-default .navbar-collapse {
    /*padding: 0;*/
}

.navbar-default .nav .nav-item.active {
    position: relative;
}
.navbar-default .nav .nav-item {
    font-weight: 400;
    text-transform: uppercase;
    z-index: 100;
}
.navbar-nav>li>a{
    padding: 10px 15px;
}

.navbar-default .nav .nav-item a {
    color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

.nav > li > a {
    font-size: 14px;
}

.navbar-default .nav .nav-item.active {
  position: relative;
}

.navbar-default .nav .nav-item.active > a {
    background: #0c6691;
    color: #fff;
}

.navbar-default .nav .nav-item.active > a:before {
    content: "\f0d8";
    position: absolute;
    bottom: -8px;
    left: 0;
    text-align: center;
    font-family: FontAwesome;
    display: block;
    font-size: 12px;
    width: 100%;
    color: #f0f0f0;
}
.navbar-default .nav .nav-item a:hover {
    background: #0c6691;
    color: #fff;
}

.navbar-default .nav .nav-item.active > a.dropdown-toggle:before {
  display: none;
}
.navbar-default .nav .nav-item.open a {
  background: #0c6691;
  color: #fff;
}
.navbar-default .nav .nav-item .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  border: none;
  padding: 0;
  text-transform: none;
  min-width: 186px;
}
.navbar-default .nav .nav-item .dropdown-menu a {
  border-bottom: 1px solid #0c597e;
  padding: 8px 20px;
}
.navbar-default .nav .nav-item .dropdown-menu a:hover {
  background: #0c597e;
  color: #fff;
  padding-left: 24px;
}
/*/Nav*/

/*Nav-mobile*/
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #0c6691;
}
.navbar-toggle{
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 0
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.nav-search{
  padding: 11px;
  float: right;
}
.nav-search .icon-search{
    position: absolute;
    top: 16px;
    right: 17px;
    font-size: 14px;
}
/*End Nav-mobile*/

.content{
  padding: 0 30px;
  margin: 10px auto;
}

.content-left{
  padding-right: 5px
}

.sidebar-right{
  padding-left: 5px
}

/*BreadCrumbs style*/
.breadcrumbs {
    background: none!important;
    position: relative;
    z-index: 10;
    color: #565656
}
.breadcrumbs a{
  color: #565656
}
.breadcrumbs .divider {
    padding: 0 5px;
}
/*End breadcrumbs*/

/*Panel*/
.panel{
  border: none;
  border-radius: 0;
  background-color: #fff;
  padding: 5px 15px 15px 15px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  height: 100%;
}

.panel-title{
  text-align: left;
    font-size: 18px;
    font-weight: 400;
    color: #0090ff;
    text-transform: uppercase;
    line-height: 2;
    border-bottom: 2px solid #0090ff;
}

.panel-body{
  padding: 15px 0 0;
}

.panel-body .see-more{
  text-align: right;
  padding-top: 10px;
  font-size: 1.2em;
}

a.link-style{
  text-decoration: none;
  color: #0090ff;
}

.title-page{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px
}
/*/Panel*/

.div-row{
  width: 100%;
    float: left;
    clear: both;
    margin-bottom: 10px;
}

.div-row-label{
  float: left;
    line-height: 28px;
    padding: 2px 0 0;
    margin-right: 10px
}

.div-row-control{
  float: left;
    line-height: normal;
    padding: 2px 0 0;
    margin-right: 20px
}

/*News style*/
.main-news .news {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-news .news li.divider {
    border-bottom: 1px solid #e0e8e8;
}
.news-item{
  padding: 10px;
}
.main-news .news-item .news-title a {
    color: #0090ff;
    font-size: 1.6em;
}
.main-news .news-item .news-title-sm a {
    color: #0090ff;
    font-size: 1.2em;
}
.main-news .news-item .news-detail {
    color: #777777;
}
/*End News style*/

/*Pagination style*/
.pagination{
  padding: 0;
  margin-bottom: 0;
  float: left;
}

.pagination .cd-pagination{
  list-style: none;
  margin-left: -30px
}

.pagination .cd-pagination > :first-child > a{
  border-left-width: 1px;
}

.pagination .cd-pagination li{
  float: left;
}

.pagination .cd-pagination li.btn-prev i.fa{
  display: inline;
}

.pagination .cd-pagination li.btn-next i.fa{
  display: inline;
}

.pagination .cd-pagination li a{
  text-decoration: none;
  display: block;
  background-color: #fff;
  padding: 7px 12px;
  color: #2E4057;
  border: 1px solid #e6e6e6;
  border-left-width: 0
}

.pagination .cd-pagination li a:hover{
  background-color: #f2f2f2;
}

.pagination .cd-pagination li > a.current{
  background-color: #2fa1f9;
  color: #fff;
  border-color: #2fa1f9;
}

/*End Pagination style*/

/*footer*/
.footer{
  height: 192px;
  background-color: #222;
  color: #fff;
  font-size: 14px;
  margin-top: 30px;
}
.footer .footer-content {
    padding: 0;
    font-size: 12px;
    min-height: 150px;
}
.row{
  margin-left: -15px;
  margin-right: -15px;
}
.footer .footer-content .row{
  padding: 15px
}
.footer .footer-content .footer-col .footer-col-inner {
    padding: 0 15px;
}

.footer ul {
    padding-left: 0;
}

.footer .footer-content .footer-col li {
    margin-bottom: 10px;
    font-size: 12px;
}
.footer li {
    list-style: none;
}
.footer .footer-content .footer-col a {
    color: #bfbfbf;
    text-decoration: none;
}

.footer .footer-content .footer-col a:hover {
    color: #fff;
}

.footer .footer-content .footer-col .fa {
    margin-right: 10px;
    display: inline-block;
}

.footer .footer-content .footer-col .footer-col-inner {
    padding: 0 15px;
}
.footer .footer-content .subscribe-form {
    padding: 0;
}
.footer .footer-content .subscribe-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.footer .footer-content .adr {
    margin-bottom: 30px;
}
.footer p {
    color: #dcdcdc;
}

.footer .bottom-bar {
    background: #2b2b2b;
    padding: 5px 0;
}
.footer .bottom-bar .copyright {
    font-size: 11px;
    color: #dcdcdc;
    line-height: 3;
    margin-left: 15px
}

#topcontrol {
    background-color: #2fa1f9;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 35px;
    height: 35px;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
#topcontrol:hover {
    background: #2991e2;
}
#topcontrol .fa {
    position: relative;
    top: 3px;
    font-size: 25px;
}
/*end footer*/


/*Table style*/
.datatable
{
    border: solid 1px #E0E0E0;
    color: #000000;
    border-collapse: collapse;
    margin-top: 5px;
    width: 100%
}
.datatable thead th
{
    border: solid 1px #aed3ba;
    border-style: solid;
    border-width: 1px;
    color: #000;
    padding: 7px 5px;
    text-align: center;
    vertical-align: center;
    font-size: 12px;
    background-color: #c3e2e2;
}
table{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    /*font-family: Roboto;*/
}
.datatable th a
{
    color: blue;
    padding-right: 18px;
    text-decoration: none;
}
.datatable tr
{
    font-size: 12px;
    padding: 3px 0px;
}
.datatable td/*.datatable .row td, .datatable .altrow td, .datatable .selectedrow td, .disablerow td*/ 
{
    border: solid 1px #e0e0e0;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    color: #5a5a5a;
    padding: 7px 5px;
    font-size: 12px;
    /*text-align: center;*/
}
.datatable .disablerow td 
{
    color:white;
    background-color: #D5D5D5;
}
.datatable .selectedrow td 
{
    color: black;
    background-color:moccasin;
}
.datatable .row td
{
    background-color: #FFFFFF;
}
.datatable .altrow td
{
    background-color: rgba(196, 248, 247, 0.12);
}
/*.datatable tr.row:hover td, .datatable tr.altrow:hover td
{
    background-color: #DCF2E4;
}
.datatable tbody tr:hover th, .datatable tbody tr:hover td
{
    background-color: #DCF2E4;
}*/
.datatable .row td.first
{
    padding-left: 10px;
}
.datatable th.first
{
    padding-left: 10px;
}

.datatable .selectedrow td
{
    background-color: rgba(255, 255, 0, 0.3);
}

.datatable td.td-center {
    text-align: center;
}
.datatable td.td-right {
    text-align: right;
}
/*End table*/

/*Notice style*/
ul.notice-info{
  list-style: none;
  margin-left: -40px
}
ul.notice-info li{
  float: left;
  margin-right: 10px
}
/*end notice style*/